In [3]:
import pandas as pd

In [23]:
df_2010 = pd.read_csv("C:/Users/cqq/Documents/data/2010.csv", encoding='utf-8')

In [18]:
df_2010

   국어  영어  수학
0  50  88  99
1  77  20  80
2  80  70  77
3  60  60  88
4  70  44  10

In [25]:
df_2011 = pd.read_csv("C:/Users/cqq/Documents/data/2011.csv", encoding='utf-8')

In [26]:
df_2011

   국어  영어   수학
0  11  55  100
1  88  33   66
2  55  11   44
3  44  55   88
4  22  11   45

In [28]:
total_jumsu = pd.concat([df_2010, df_2011])

In [29]:
total_jumsu

   국어  영어   수학
0  50  88   99
1  77  20   80
2  80  70   77
3  60  60   88
4  70  44   10
0  11  55  100
1  88  33   66
2  55  11   44
3  44  55   88
4  22  11   45

In [34]:
total_jumsu.iloc[0:2]#i: index #행 갖고 오기 , 0~1 슬라이싱

   국어  영어  수학
0  50  88  99
1  77  20  80

In [37]:
total_jumsu.iloc[:,0] #열,iloc[행, 열], iloc[행]

0    50
1    77
2    80
3    60
4    70
0    11
1    88
2    55
3    44
4    22
Name: 국어, dtype: int64

In [39]:
total_score=pd.concat([df_2010, df_2011], ignore_index = True) # 왼족에 인덱스 순서대로 나열, 고유의 인덱스 무시

In [40]:
total_score

   국어  영어   수학
0  50  88   99
1  77  20   80
2  80  70   77
3  60  60   88
4  70  44   10
5  11  55  100
6  88  33   66
7  55  11   44
8  44  55   88
9  22  11   45

In [42]:
cc_1 = pd.read_csv("C:/Users/cqq/Documents/data/concat_1.csv", encoding='utf-8')

In [43]:
cc_1

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [44]:
cc_2 = pd.read_csv("C:/Users/cqq/Documents/data/concat_2.csv", encoding='utf-8')

In [45]:
cc_2

    E   F   G   H
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7

In [46]:
cc_3 = pd.read_csv("C:/Users/cqq/Documents/data/concat_3.csv", encoding='utf-8')

In [47]:
cc_3

     A    C    F    H
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [51]:
c_total = pd.concat([cc_1, cc_2, cc_3], sort=True,  ignore_index = True)

In [52]:
c_total

      A    B    C    D    E    F    G    H
0    a0   b0   c0   d0  NaN  NaN  NaN  NaN
1    a1   b1   c1   d1  NaN  NaN  NaN  NaN
2    a2   b2   c2   d2  NaN  NaN  NaN  NaN
3    a3   b3   c3   d3  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   a4   b4   c4   d4
5   NaN  NaN  NaN  NaN   a5   b5   c5   d5
6   NaN  NaN  NaN  NaN   a6   b6   c6   d6
7   NaN  NaN  NaN  NaN   a7   b7   c7   d7
8    a8  NaN   b8  NaN  NaN   c8  NaN   d8
9    a9  NaN   b9  NaN  NaN   c9  NaN   d9
10  a10  NaN  b10  NaN  NaN  c10  NaN  d10
11  a11  NaN  b11  NaN  NaN  c11  NaN  d11

In [53]:
c_total.iloc[0:2]

    A   B   C   D    E    F    G    H
0  a0  b0  c0  d0  NaN  NaN  NaN  NaN
1  a1  b1  c1  d1  NaN  NaN  NaN  NaN

In [56]:
c_total.iloc[:,2]

0      c0
1      c1
2      c2
3      c3
4     NaN
5     NaN
6     NaN
7     NaN
8      b8
9      b9
10    b10
11    b11
Name: C, dtype: object

In [59]:
row_append = cc_1.append(cc_2, ignore_index=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [61]:
row_append #컬럼이 다르면 컬럼이 새로 생기면서 붙어버린다.

     A    B    C    D    E    F    G    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   a4   b4   c4   d4
5  NaN  NaN  NaN  NaN   a5   b5   c5   d5
6  NaN  NaN  NaN  NaN   a6   b6   c6   d6
7  NaN  NaN  NaN  NaN   a7   b7   c7   d7

In [62]:
row_append.columns

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'], dtype='object')

In [63]:
inner_result = pd.concat([cc_1, cc_2, cc_3], join='inner')

In [64]:
inner_result

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]

In [67]:
inner_result2 = pd.concat([cc_1, cc_3], join='inner')#공통적인 부분분

In [68]:
inner_result2

     A    C
0   a0   c0
1   a1   c1
2   a2   c2
3   a3   c3
0   a8   b8
1   a9   b9
2  a10  b10
3  a11  b11

In [69]:
edu = pd.read_csv("C:/Users/cqq/Documents/data/StudentsPerformance.csv", encoding='utf-8')

In [70]:
edu

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
10,male,group C,associate's degree,standard,none,58,54,52
11,male,group D,associate's degree,standard,none,40,52,43
12,female,group B,high school,standard,none,65,81,73
13,male,group A,some college,standard,completed,78,72,70
14,female,group A,master's degree,standard,none,50,53,58
15,female,group C,some high school,standard,none,69,75,78
16,male,group C,high school,standard,none,88,89,86
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46
19,female,group C,associate's degree,free/reduced,none,54,58,61
20,male,group D,high school,standard,none,66,69,63
21,female,group B,some college,free/reduced,completed,65,75,70
22,male,group D,some college,standard,none,44,54,53
23,female,group C,some high school,standard,none,69,73,73
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80
25,male,group A,master's degree,free/reduced,none,73,74,72
26,male,group B,some college,standard,none,69,54,55
27,female,group C,bachelor's degree,standard,none,67,69,75
28,male,group C,high school,standard,none,70,70,65
29,female,group D,master's degree,standard,none,62,70,75
...,...,...,...,...,...,...,...,...
970,female,group D,bachelor's degree,standard,none,89,100,100
971,male,group C,some high school,standard,completed,78,72,69
972,female,group A,high school,free/reduced,completed,53,50,60
973,female,group D,some college,free/reduced,none,49,65,61
974,female,group A,some college,standard,none,54,63,67
975,female,group C,some college,standard,completed,64,82,77
976,male,group B,some college,free/reduced,completed,60,62,60
977,male,group C,associate's degree,standard,none,62,65,58
978,male,group D,high school,standard,completed,55,41,48
979,female,group C,associate's degree,standard,none,91,95,94
980,female,group B,high school,free/reduced,none,8,24,23
981,male,group D,some high school,standard,none,81,78,78
982,male,group B,some high school,standard,completed,79,85,86
983,female,group A,some college,standard,completed,78,87,91
984,female,group C,some high school,standard,none,74,75,82
985,male,group A,high school,standard,none,57,51,54
986,female,group C,associate's degree,standard,none,40,59,51
987,male,group E,some high school,standard,completed,81,75,76
988,female,group A,some high school,free/reduced,none,44,45,45
989,female,group D,some college,free/reduced,completed,67,86,83
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [74]:
ani = pd.read_csv("C:/Users/cqq/Documents/data/anime.csv", encoding='utf-8')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (17,18,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [75]:
ani

,MAL_ID,Name,Score,Genders,English name,Japanese name,Type,Episodes,Aired,Premiered,...,Score-7,Score-6,Score-5,Score-4,Score-3,Score-2,Score-1,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,?ャ궑?쒌꺖?ㅳ깛?먦긿??TV,26,"Apr 3, 1998 to Apr 24, 1999",Spring 1998,Bandai Visual,...,20688,8904,3184,1357,741,1580,NaN,NaN,NaN,NaN
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Cowboy Bebop:The Movie,?ャ궑?쒌꺖?ㅳ깛?먦긿??鸚⒴쎖??뎶,Movie,1,01-Sep-01,Unknown,...,22632,5805,1877,577,221,109,379,NaN,NaN,NaN
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",Trigun,?덀꺀?ㅳ궗??TV,26,"Apr 1, 1998 to Sep 30, 1998",Spring 1998,Victor Entertainment,...,15376,5838,1965,664,316,533,NaN,NaN,NaN,NaN
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",Witch Hunter Robin,Witch Hunter ROBIN (?╉궎?껁긽?뤵꺍?욍꺖??깛??,TV,26,"Jul 2, 2002 to Dec 24, 2002",Summer 2002,...,11618,5709,2920,1083,353,164,131,NaN,NaN,NaN
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",Beet the Vandel Buster,?믧쇇?뗣깛?ｃ깉,TV,52,"Sep 30, 2004 to Sep 29, 2005",Fall 2004,...,1713,1068,634,265,83,50,27,NaN,NaN,NaN
5,15,Eyeshield 21,7.95,"Action, Sports, Comedy, Shounen",Unknown,?㏂궎?룔꺖?ャ깋21,TV,145,"Apr 6, 2005 to Mar 19, 2008",Spring 2005,...,16734,6206,2621,795,336,140,151,NaN,NaN,NaN
6,16,Hachimitsu to Clover,8.06,"Comedy, Drama, Josei, Romance, Slice of Life",Honey and Clover,?뤵긽?잆깂?ⓦ궚??꺖?먦꺖,TV,24,"Apr 15, 2005 to Sep 27, 2005",Spring 2005,...,13062,5574,3148,1339,484,278,321,NaN,NaN,NaN
7,17,Hungry Heart: Wild Striker,7.59,"Slice of Life, Comedy, Sports, Shounen",Unknown,?뤵꺍?겹꺁?쇈깗?쇈깉 Wild Striker,TV,52,"Sep 11, 2002 to Sep 10, 2003",Fall 2002,...,3075,1286,602,218,88,31,32,NaN,NaN,NaN
8,18,Initial D Fourth Stage,8.15,"Action, Cars, Sports, Drama, Seinen",Unknown,??뻼耶쀣덀궎?뗣궥?ｃ꺂?덬 FOURTH STAGE,TV,24,"Apr 17, 2004 to Feb 18, 2006",Spring 2004,...,12912,3874,1236,369,97,48,259,NaN,NaN,NaN
9,19,Monster,8.76,"Drama, Horror, Mystery, Police, Psychological,...",Monster,?㏂꺍?밤궭??TV,74,"Apr 7, 2004 to Sep 28, 2005",Spring 2004,"VAP, Shogakukan-Shueisha Productions, Nippon T...",...,8861,4381,2086,882,593,1177,NaN,NaN,NaN,NaN
10,20,Naruto,7.91,"Action, Adventure, Comedy, Super Power, Martia...",Naruto,?듽꺂??TV,220,"Oct 3, 2002 to Feb 8, 2007",Fall 2002,"TV Tokyo, Aniplex, Shueisha",...,108155,46886,15477,6098,3582,5310,NaN,NaN,NaN,NaN
11,21,One Piece,8.52,"Action, Adventure, Comedy, Super Power, Drama,...",One Piece,ONE PIECE,TV,Unknown,"Oct 20, 1999 to ?",Fall 1999,...,85424,35342,19019,8201,3675,2616,6340,NaN,NaN,NaN
12,22,Tennis no Ouji-sama,7.9,"Action, Comedy, Sports, School, Shounen",The Prince of Tennis,?녴깑?밤겗?뗥춴礪?TV,178,"Oct 10, 2001 to Mar 23, 2005",Fall 2001,"Production I.G, Nihon Ad Systems",...,6624,3086,1071,443,210,225,NaN,NaN,NaN,NaN
13,23,Ring ni Kakero 1,6.38,"Action, Shounen, Sports",Unknown,?ゃ꺍?겹겓?뗣걨?랃폂,TV,12,"Oct 6, 2004 to Dec 15, 2004",Fall 2004,...,260,236,143,88,40,32,28,NaN,NaN,NaN
14,24,School Rumble,7.94,"Comedy, Romance, School, Shounen",School Rumble,?밤궚?쇈꺂?⒲꺍?뽧꺂,TV,26,"Oct 5, 2004 to Mar 29, 2005",Fall 2004,...,27327,11034,5396,1897,780,441,405,NaN,NaN,NaN
15,25,Sunabouzu,7.42,"Action, Adventure, Comedy, Ecchi, Sci-Fi, Shounen",Desert Punk,?귙겮?녴걳,TV,24,"Oct 6, 2004 to Mar 30, 2005",Fall 2004,...,12702,6033,3079,1521,643,350,297,NaN,NaN,NaN
16,26,Texhnolyze,7.76,"Action, Sci-Fi, Psychological, Drama",Texhnolyze,TEXHNOLYZE,TV,22,"Apr 17, 2003 to Sep 25, 2003",Spring 2003,...,8636,4429,2462,1456,684,411,664,NaN,NaN,NaN
17,27,Trinity Blood,7.32,"Action, Supernatural, Vampire",Trinity Blood,?덀꺁?뗣깇?ｃ꺕?뽧꺀?껁깋,TV,24,"Apr 29, 2005 to Oct 28, 2005",Spring 2005,...,20152,10273,5392,2250,873,456,298,NaN,NaN,NaN
18,28,Yakitate!! Japan,7.95,"Comedy, Shounen",Yakitate!! Japan,?쇈걤?잆겍!! ?멥깵?긱굯,TV,69,"Oct 12, 2004 to Mar 14, 2006",Fall 2004,...,7965,3038,1248,345,118,56,58,NaN,NaN,NaN
19,29,Zipang,7.51,"Action, Military, Sci-Fi, Historical, Drama, S...",Unknown,?멥깙?녈궛,TV,26,"Oct 8, 2004 to Apr 1, 2005",Fall 2004,...,1696,662,279,114,38,13,28,NaN,NaN,NaN
20,30,Neon Genesis Evangelion,8.32,"Action, Sci-Fi, Dementia, Psychological, Drama...",Neon Genesis Evangelion,?겻툟榮?ⓦ꺎?▲꺍?꿔꺁?ゃ꺍,TV,26,"Oct 4, 1995 to Mar 27, 1996",Fall 1995,...,93532,38385,17571,9686,4408,3263,3714,NaN,NaN,NaN
21,31,Neon Genesis Evangelion: Death & Rebirth,7.45,"Drama, Mecha, Psychological, Sci-Fi",Neon Genesis Evangelion:Death & Rebirth,혨?겻툟榮?ⓦ꺎?▲꺍?꿔꺁?ゃ꺍?뉐졃???룔깉?곁뵟,Movie,1,15-Mar-97,Unknown,...,25396,12694,6313,2636,1042,654,737,NaN,NaN,NaN
22,32,Neon Genesis Evangelion: The End of Evangelion,8.51,"Sci-Fi, Dementia, Psychological, Drama, Mecha",Neon Genesis Evangelion:The End of Evangelion,?겻툟榮?ⓦ꺎?▲꺍?꿔꺁?ゃ꺍?뉐졃??THE END OF EVANGELION,Movie,1,19-Jul-97,Unknown,...,41261,16444,7057,4493,2279,1941,2264,NaN,NaN,NaN
23,33,Kenpuu Denki Berserk,8.49,"Action, Adventure, Demons, Drama, Fantasy, Hor...",Berserk,?ｉ˘鴉앭쪍?쇻꺂?삠꺂??TV,25,"Oct 8, 1997 to Apr 1, 1998",Fall 1997,"VAP, Hakusensha, Nippon Television Network",...,9477,3899,1748,671,456,842,NaN,NaN,NaN,NaN
24,43,Koukaku Kidoutai,8.29,"Action, Mecha, Police, Psychological, Sci-Fi, ...",Ghost in the Shell,GHOST IN THE SHELL竊덃뵽餘삥찣?뺡쉳竊?Movie,1,18-Nov-95,Unknown,"Bandai Visual, Kodansha",...,13704,5107,1842,675,292,486,NaN,NaN,NaN,NaN
25,44,Rurouni Kenshin: Meiji Kenkaku Romantan - Tsui...,8.73,"Action, Historical, Drama, Romance, Martial Ar...",Samurai X:Trust and Betrayal,?뗣굧?녴겓?ｅ퓘?뺞삇亦삣돜若€뎁轢ヨ춾?뺠옙?띄랬,OVA,4,"Feb 20, 1999 to Sep 22, 1999",Unknown,...,11782,3575,1393,448,163,106,490,NaN,NaN,NaN
26,45,Rurouni Kenshin: Meiji Kenkaku Romantan,8.31,"Action, Adventure, Comedy, Historical, Romance...",Rurouni Kenshin,?뗣굧?녴겓?ｅ퓘 -?롦꼇?ｅ?役ゆ섐鈺?,TV,94,"Jan 10, 1996 to Sep 8, 1998",Winter 1996,...,33295,10220,3867,1167,372,176,314,NaN,NaN,NaN
27,46,Rurouni Kenshin: Meiji Kenkaku Romantan - Ishi...,7.56,"Samurai, Historical, Drama, Shounen",Samurai X:The Motion Picture,?뗣굧?녴겓?ｅ퓘 -?롦꼇?ｅ?役ゆ섐鈺? 泳?뼭恙쀥＋?멥겗??춡閭?Movie,1,20-Dec-97,Unknown,"Fuji TV, Sony Music Entertainment",...,2832,1310,426,129,71,59,NaN,NaN,NaN,NaN
28,47,Akira,8.17,"Action, Military, Sci-Fi, Adventure, Horror, S...",AKIRA,AKIRA竊덀궋??꺀竊?Movie,1,16-Jul-88,Unknown,"Mainichi Broadcasting System, Kodansha, Toho",...,22369,9462,4322,1737,992,1067,NaN,NaN,NaN,NaN
29,48,.hack//Sign,6.98,"Game, Sci-Fi, Adventure, Mystery, Magic, Fantasy",.hack//Sign,.hack//SIGN,TV,26,"Apr 4, 2002 to Sep 26, 2002",Spring 2002,...,20391,12617,7610,3688,1502,825,619,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17531,48369,Wo Shi Da Shenxian 2nd Season,Unknown,"Action, Martial Arts, Fantasy, Shounen",Da Shen Xian,?묉삸鸚㎫쪥餓?寧т틠耶?ONA,16,"Feb 25, 2021 to Jun 10, 2021",Unknown,Tencent Animation & Comics,...,1,1,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN,NaN
17532,48374,Fei Ren Zai 4th Season,Unknown,"Slice of Life, Comedy, Supernatural",Unknown,?욂볶??寧у썪耶?ONA,12,"Feb 3, 2021 to Apr 14, 2021",Unknown,Unknown,...,Unknown,Unknown,Unknown,Unknown,Unknown,1,NaN,NaN,NaN,NaN
17533,48375,Mahouka Koukou no Rettousei: Tsuioku-hen,Unknown,"Sci-Fi, Supernatural, Magic",Unknown,邀붹퀡燁묌쳵?▲겗?ｇ춬??瓦썸넼渶?Unknown,Unknown,Unknown,Unknown,Unknown,...,1,1,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN,NaN
17534,48391,Mazica Party,Unknown,"Game, Magic, Fantasy",Unknown,?욁궦?ャ깙?쇈깇??TV,Unknown,"Apr 4, 2021 to ?",Spring 2021,Unknown,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN,NaN
17535,48405,Totsukuni no Shoujo OVA,Unknown,"Supernatural, Shounen",Unknown,?ⓦ겇?뤵겓??컩也?OVA,1,10-Mar-22,Unknown,"flying DOG, Sound Team Don Juan, Twin Engine",...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN,NaN
17536,48406,Re-Main,Unknown,"Sports, School",Unknown,RE-MAIN竊덀꺁?▲궎?놂펹,TV,Unknown,2021 to ?,Unknown,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN
17537,48409,Chocomatsu-san: White Day-hen,Unknown,"Comedy, Parody",Unknown,?곥깾?녔씭?뺛굯節욁깫??궎?덀깈?쇘랬節?ONA,3,"Mar 13, 2021 to Mar 15, 2021",Unknown,Unknown,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN,NaN
17538,48411,Aria the Benedizione,Unknown,"Sci-Fi, Slice of Life, Fantasy, Shounen",Unknown,ARIA The BENEDIZIONE,Unknown,1,Unknown,Unknown,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN
17539,48413,Hataraku Maou-sama! 2nd Season,Unknown,"Comedy, Demons, Supernatural, Romance, Fantasy",Unknown,??걼?됥걦邀붺럨?뺛겲竊?TV,Unknown,Unknown,Unknown,Unknown,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN,NaN
17540,48414,Sabikui Bisco,Unknown,"Action, Adventure, Fantasy",Unknown,?녶뼭?꾠깛?밤궠,TV,Unknown,Unknown,Unknown,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN
17541,48415,"Shijou Saikyou no Daimaou, Murabito A ni Tense...",Unknown,"Action, Fantasy, School",Unknown,?꿜툓?凉룔겗鸚㏝춸?뗣곫쓳雅튍?ヨ빪?잆걲??Unknown,Unknown,Unknown,Unknown,Unknown,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN,NaN
17542,48417,Maou Gakuin no Futekigousha: Shijou Saikyou no...,Unknown,"Magic, Fantasy, School",Unknown,邀붺럨耶?솫??툖?⒴릦??節욃뤁訝딀?凉룔겗邀붺럨??쭓曄뽧곮빪?잆걮??춴耶ャ걼?▲겗...,Unknown,Unknown,Unknown,Aniplex,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN,NaN
17543,48418,Maou Gakuin no Futekigousha: Shijou Saikyou no...,Unknown,"Action, Demons, Magic, Fantasy, School",Unknown,邀붺럨耶?솫??툖?⒴릦??節욃뤁訝딀?凉룔겗邀붺럨??쭓曄뽧곮빪?잆걮??춴耶ャ걼?▲겗...,Unknown,Unknown,Unknown,Aniplex,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN,NaN
17544,48422,Kazoku: Haha to Shimai no Kyousei,Unknown,Hentai,Unknown,若뜹콪 ~驪띲겏冶됧┨??쵊鶯?,OVA,Unknown,"May 28, 2021 to ?",Unknown,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN
17545,48425,Akuma-kun (Shin Anime),Unknown,"Horror, Demons, Supernatural, Thriller",Unknown,?ら춸?뤵굯,Unknown,Unknown,Unknown,Unknown,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN
17546,48426,Kitarou Tanjou: Gegege no Nazo,Unknown,"Comedy, Demons, Supernatural, Shounen",Unknown,遼쇔ㄺ?롨첈???꿔궟?꿔겗玉?Movie,1,Unknown,Unknown,Unknown,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN,NaN
17547,48427,"The Sun, Moon and Stars",Unknown,Music,Unknown,Unknown,Music,1,18-Jan-21,Unknown,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN
17548,48438,Mahoutsukai no Yome: Nishi no Shounen to Seira...,Unknown,"Slice of Life, Magic, Fantasy, Shounen",Unknown,邀붹퀡鵝욍걚??쳛 蜈욍겗弱묈뭅?③쓵葯먦겗蟯롥＋,OVA,3,"Sep 10, 2021 to ?",Unknown,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN
17549,48441,Eiyuu Densetsu: Sen no Kiseki,Unknown,Action,Unknown,?깁썑鴉앲が ?껁겗邕뚩래,TV,Unknown,2022 to ?,Unknown,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN
17550,48442,Shikaru Neko,Unknown,Slice of Life,Unknown,?쀣걢?뗣겖??TV,Unknown,"Apr, 2021 to ?",Spring 2021,Unknown,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN,NaN
17551,48456,SK?? Crazy Rock Jam,6.52,"Comedy, Sports",Unknown,SK???ⓦ궧?긱꺖?ⓦ궎??#9.5 PART?롢궚?с궎?멥꺖??긿?츹AM??Special,1,14-Mar-21,Unknown,"Aniplex, Movic, ABC Animation",...,1465,691,111,43,12,55,NaN,NaN,NaN,NaN
17552,48466,Kyoukai Senki,Unknown,"Action, Mecha",Unknown,罌껆븣??찣,TV,Unknown,"Oct, 2021 to ?",Fall 2021,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN
17553,48470,D_Cide Traumerei,Unknown,"Action, Adventure, Drama, Magic, Fantasy",Unknown,D_CIDE TRAUMEREI竊덀깈?ｃ꺖?듐궎?됥깉??궎?▲꺀?ㅿ펹,TV,Unknown,"Jul, 2021 to ?",Summer 2021,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN
17554,48471,Tsuki to Laika to Nosferatu,Unknown,"Sci-Fi, Space, Vampire",Unknown,?덀겏?⒲궎?ャ겏?멱?冶?TV,Unknown,2021 to ?,Unknown,Bandai Namco Arts,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN,NaN
17555,48480,Wan Jie Shen Zhu 3rd Season,Unknown,"Adventure, Fantasy",Unknown,訝뉒븣曄욂말 寧т툒耶?ONA,48,"Mar 17, 2021 to ?",Unknown,Unknown,...,1,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN,NaN
17556,48481,Daomu Biji Zhi Qinling Shen Shu,Unknown,"Adventure, Mystery, Supernatural",Unknown,?쀥쥞寧붻?阿뗧㏄略?쪥??ONA,Unknown,"Apr 4, 2021 to ?",Unknown,Unknown,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN,NaN
17557,48483,Mieruko-chan,Unknown,"Comedy, Horror, Supernatural",Unknown,誤뗣걟?뗥춴?▲굛??TV,Unknown,2021 to ?,Unknown,Kadokawa,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN,NaN
17558,48488,Higurashi no Naku Koro ni Sotsu,Unknown,"Mystery, Dementia, Horror, Psychological, Supe...",Higurashi:When They Cry ??SOTSU,?꿔걧?됥걮??겒?뤻쟽?ュ뜏,TV,Unknown,"Jul, 2021 to ?",Summer 2021,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN
17559,48491,Yama no Susume: Next Summit,Unknown,"Adventure, Slice of Life, Comedy",Unknown,?ㅳ깯?롢궧?밤깳 Next Summit,TV,Unknown,Unknown,Unknown,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN
17560,48492,Scarlet Nexus,Unknown,"Action, Fantasy",Unknown,SCARLET NEXUS,TV,Unknown,"Jul, 2021 to ?",Summer 2021,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN