In [1]:
import pandas as pd
import numpy as np

In [2]:
#데이터를 분석하려면 데이터형태로 만들면 됨.
#행(인스턴스, 실제값), 열(속성, 특성)을 가지는 2차원이 되게 됨.
#파이썬에서는 데이터분석시 사용하는 2차원을 다루기 위해서 클래스(부품)을 만들었음.

In [3]:
name_values = ["홍길동", "박길동", "김길동", "송길동"]
age_values = [10, 20, 30, 40]
df3 = pd.DataFrame({"name" : name_values, "age" : age_values})
df3 #자동으로 index , mysql에서 autoincrement처럼 자동 증가

  name  age
0  홍길동   10
1  박길동   20
2  김길동   30
3  송길동   40

In [6]:
# 인덱스가 자동증가해서 붙어있는 부품: 데이터프레임
#enumerate 
#리스트가 있는 경우 순서와 리스트의 값을 전달하는 기능을 가집니다.
#enumerate는 “열거하다”라는 뜻입니다.
#이 함수는 순서가 있는 자료형(list, set, tuple, dictionary, string)을 입력으로 받아 인덱스 값을 포함하는 enumerate 객체를 리턴합니다.
#보통 enumerate 함수는 for문과 함께 자주 사용됩니다.
for i, item in enumerate(df3['name'], 1):
    print(i, ":", item, '님')

1 : 홍길동 님
2 : 박길동 님
3 : 김길동 님
4 : 송길동 님

In [ ]:
type(df.index) #RangeIndex 부품, class

In [ ]:
df['name']

In [ ]:
type(df['name']) #데이터프레임안에서 나머지 열은 시리즈임.

In [ ]:
df_index = df.index.tolist() #인덱스만 목록으로 가지고 오고 싶으면 list로 변경해서 사용
df_index

In [ ]:
#데이터 프레임은 RangIndex, Series의 결합임

In [ ]:
#시리즈는 인덱스+리스트의 결합 (조그만 데이터프레임)

In [ ]:
df['name'].index

In [ ]:
df_name_values = df['name'].values.tolist()
df_name_values

In [ ]:
df_name_values2 = df['name'].tolist()
df_name_values2 #Serie를 리스트로 변환, 인덱스가 생략한 리스트가 됨.

## 데이터프레임을 만드는 방법
***
### dic사용
### csv,excel 파일 읽어오기
### df에 values, column을 지정

In [ ]:
df2 = pd.DataFrame(data = [['홍길동', 100], ['김길동', 200]], columns=['name', 'age'])
df2

In [ ]:
# 시리즈를 데이터프레임으로 변경할 수 있다.
df_name = df['name'].to_frame()
df_name
type(df_name)

In [ ]:
df['name']

In [ ]:
type(df['name'])#데이터프레임안에서 나머지 열은 시리즈임

In [ ]:
df.columns

In [ ]:
data = [100, 200, 300] #1차원인 리스트
sum(data)

In [ ]:
max(data)

In [ ]:
# ndarray : 다양한 차원의 데이터(배열)를 하나의 클래스로 다루기위해서 만들어졌음.
# n: 숫자
# d: 차원 demesion
# array: 배열 
# n에 따라 차원 수 ↑

In [ ]:
arr1 = np.arange(15)  #0~14까지의 연속된 값을 만들어주는 함수, 1차원
arr1

In [ ]:
type(np.arange(15))

In [ ]:
arr1.reshape(3, 5) #원하는 차원으로(모양으로) 변홚

In [ ]:
#mask
mask = np.zeros(5)
mask

In [ ]:
mask2 = np.zeros((3, 4))
mask2

In [ ]:
arr2 = np.array([
    [1, 2, 3],[4, 5, 6]
    ], dtype=np.float64)
arr2

In [ ]:
arr3 = np.array([
    [4, 5, 6],[7, 8, 9]
    ], dtype=np.float64)
arr3

In [ ]:
#행렬내 데이터의 연산을 할 수 있음
arr2 * arr3# 곱셈도 가능 행렬 형태만 맞음, 행렬의 연산과는 다름

In [ ]:
np.random.rand(20)

In [ ]:
np.random.randint(10)